*{
  font-family: "Oswald", sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;}
/*-----------------------------------HEADER----------------------------------*/
.header {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background-image: url(img/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 732px;/*622px+110px*/
  min-height: 421px;/*311px+110px*/
  background-color: #ffffff;}
.menu__logo {
  font-family: oswald;
  font-size: 36px;
  font-style: medium;
  text-decoration: none;
  color: #000000;
  margin: 82px;}
.menu__logo:hover {
  color: #e400c5;}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 720px;
  height: 110px;
  background-color: #ffffff;}
.menu__ul {
  width: 30%;
  display: flex;
  list-style-type: none;
  padding: 5px;
  margin-right: 80px;
  min-width: 300px;}
.menu__li {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-decoration: 
  color: #000000;

  }

.menu__li:hover {
  border: 3px solid #e400c5;}
.home {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center
  align-content:center;
  flex-grow: 1;
}
.home__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 89;
  text-align: center;
  font-style: bold;
  color: #ffffff;
  margin-bottom: 7px;}

.home__line {
  width: 80px;
  height: 10px;
  background: #817070;
}
/*----------------------------------HEADER----------------------------------*/
/*--------------------------------------------------------------------------*/
/*-----------------------------------MAIN-----------------------------------*/
.main{
    font-family: oswald;
    height: auto;}
.story__title{
    font-family: oswald;
    text-align: center;
    font-style: medium;
    font-weight: 500;
    font-size: 36px;}
.story{
    font-family: oswald;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 530px;}
.story__image{
    display: flex;
    width: 600px;
    height: 400px;
    margin-left: 80px;}
.story__text{
    font-family: oswald;
    display: flex;
    padding-left: 40px;
    padding-right: 123px;}
.blog{
    font-family: oswald;
    height: auto;
    background-color: #EFEFEF;}
.blog__frames{
    display: flex;
    justify-content: space-evenly;}
.frame{
    color: #000000;
    border-style: outset;
    /*box-shadow: inset rgb(0, 0, 0, 0.3) -3px -3px 10px;*/
    display: flex;
    flex-direction: column;
    width: 365px;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 65px;}
    .frame:hover{
    border-style: inset;
    background-color: #ffffff;
    /*box-shadow: inset rgb(0, 0, 0, 0.3) 3px 3px 10px;*/}
.blog__frame__title{
    font-family: oswald;
    font-weight: 400;
    font-size: 24px;
    font-style: regular;
    padding: 20px;}
.blog__frame__image{
    width: 325px;
    height: auto;
    padding: 0px 20px 0px 20px;}
.blog__frame__text{
    font-family: oswald;
    font-style: regular;
    font-size: 24px;
    padding: 20px}
.blog__title{
    font-family: oswald;
    font-weight: 500;
    font-size: 36px;
    font-style: medium;
    text-align: center;
    padding: 60px;}
.contacts{
    font-family: oswald;
    display: flex;
    background-color: #817070;
    flex-direction: column;
    justify-content:center;
    align-items: center;}
.subscribe{
    font-family: oswald;
    font-size: 36px;
    font-weight: 500;
    font-style: medium;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 28px;}
    .subscribe:hover{
        color:#c7bbbb;}
.email{
    font-family: oswald;
    width: 300px;
    background-color: #817070;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #ffffff;
    line-height: 100%;
    line-height: 30px;
    font-size: 20px;
    font-style: light;
    font-weight: 300;}
input::placeholder{
    font-family: oswald;
    font-size: 20px;
    font-weight: 30;
    text-align: center;
    color: #ffffff;}
.submit__button{
    font-family: oswald;
    border-color: #ffffff;
    background-color: #ffffff;
    width: 129px;
    height: 55px;
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    color: #817070;
    margin-top: 28px;
    margin-bottom: 58px;}
/*-----------------------------------MAIN-----------------------------------*/
/*--------------------------------------------------------------------------*/
/*----------------------------------FOOTER----------------------------------*/
.footer{
    font-family: oswald;
    padding-top: 30px;
    height: 42px;
    font-style: light;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    text-align: center;}
/*----------------------------------FOOTER----------------------------------*/
